<a href="https://colab.research.google.com/github/jeffersonjpa/Coursera-Deep-Learning-Specialization/blob/master/pandas_studies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import numpy as np
!pip install plotly==3.7.0

Collecting plotly==3.7.0
  Downloading https://files.pythonhosted.org/packages/39/99/bb44c2b42b8a3cfe18d22e20e4beaaf0a5edf1608ebdfaae5e7f2b8274b9/plotly-3.7.0-py2.py3-none-any.whl (38.5MB)
    100% |████████████████████████████████| 38.5MB 624kB/s
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly==3.7.0) (1.3.3)
Requirement already satisfied: decorator>=4.0.6 in /usr/local/lib/python3.6/dist-packages (from plotly==3.7.0) (4.3.2)
Requirement already satisfied: pytz in /usr/local/lib/python3.6/dist-packages (from plotly==3.7.0) (2018.9)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from plotly==3.7.0) (2.18.4)
Requirement already satisfied: nbformat>=4.2 in /usr/local/lib/python3.6/dist-packages (from plotly==3.7.0) (4.4.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from plotly==3.7.0) (1.11.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->plotly==3.7.0) (2018.11.29)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->plotly==3.7.0) (3.0.4)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->plotly==3.7.0) (1.22)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->plotly==3.7.0) (2.6)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.2->plotly==3.7.0) (4.4.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.2->plotly==3.7.0) (2.6.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.2->plotly==3.7.0) (0.2.0)
Requirement already satisfied: traitlets>=4.1 in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.2->plotly==3.7.0) (4.3.2)
Installing collected packages: plotly
  Found existing installation: plotly 3.6.1
    Uninstalling plotly-3.6.1:
      Successfully uninstalled plotly-3.6.1
Successfully installed plotly-3.7.0

In [0]:
df = pd.DataFrame(np.random.randn(5,3), index=['a','c','e','f','h'], columns=['one', 'two', 'three'])

In [0]:
df['four'] = 'bar'
df['five'] = df['one'] > 0

In [0]:
df2 = df.reindex(['a','b','c','d','e','f','g','h'])

In [6]:
df2['one']

a    0.210080
b         NaN
c    0.118319
d         NaN
e   -0.396371
f   -0.595586
g         NaN
h    1.167993
Name: one, dtype: float64

In [7]:
pd.isna(df2['one'])

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [8]:
df2['four'].notna()

a     True
b    False
c     True
d    False
e     True
f     True
g    False
h     True
Name: four, dtype: bool

In [9]:
df2.isna()

     one    two  three   four   five
a  False  False  False  False  False
b   True   True   True   True   True
c  False  False  False  False  False
d   True   True   True   True   True
e  False  False  False  False  False
f  False  False  False  False  False
g   True   True   True   True   True
h  False  False  False  False  False

In [10]:
df2.fillna(0)

        one       two     three four   five
a  0.210080  0.351483  0.071673  bar   True
b  0.000000  0.000000  0.000000    0      0
c  0.118319  0.292183 -1.995888  bar   True
d  0.000000  0.000000  0.000000    0      0
e -0.396371  0.042836  1.817595  bar  False
f -0.595586  0.719384  1.844150  bar  False
g  0.000000  0.000000  0.000000    0      0
h  1.167993  1.143661  0.283475  bar   True

In [11]:
df2['one'].fillna('missing')

a     0.21008
b     missing
c    0.118319
d     missing
e   -0.396371
f   -0.595586
g     missing
h     1.16799
Name: one, dtype: object

In [0]:
import plotly.plotly as py
import plotly.graph_objs as go

In [0]:
#Create random data with numpy
import numpy as np

In [0]:
plotly.tools.set_credentials_file(username='jeffersonjpa', api_key='ebm8PLa0QAONeGeTRyEB')

In [0]:
N = 1000
random_x = np.random.randn(N)
random_y = np.random.randn(N)

#Create a trace

In [0]:
trace = go.Scatter(
    x = random_x,
    y = random_y,
    mode = 'markers'
)

In [0]:
data = [trace]

In [35]:
py.iplot(data, filename='basic-scatter')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~jeffersonjpa/0 or inside your plot.ly account where it is named 'basic-scatter'